.producc {
    /* border: 1px solid red; */
    width: 100%;
/*     height: 370px; */
    padding: 40px 0;
    
}

.producc_center {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
    
}

.Product1 {
    width: 250px;
    height: 370px;
    background-color: aqua;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
    background-color: rgb(248, 248, 248);
    margin: 5px;
    
}

.Product1 img{
    width: 220px;
    margin: 13px;
    border: 1px solid rgb(216, 89, 255);
    border-radius: 10px;
    margin-bottom: 0px;
}

.Product1 h3{
    font-weight: normal;
    margin: 13px;
    /* border: 1px solid red; */
    width: 220px;
    height: 32px;
    overflow: hidden;
    padding: 0px;
    font-size: 15px;
    margin-top: 0px;
}

.Product1 a{
    color: black;
    text-decoration: none;
}

.Pr {
    /* border: 1px solid red; */
    margin: 0 13px;
    height: 27px;
    
}

.BTNq {
    /* border: 1px solid red; */
    margin: 0 13px;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(255, 79, 232);
    cursor: pointer;   
    display: flex;
    justify-content: center;
}

.BTNq a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.BTNq:hover{
    background-color: rgb(235, 83, 255);
}
.BTNq:active{
    text-align: center;
    color: white;
    background-color: rgb(240, 130, 255);
}





body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
header {
    border-bottom: 1px solid #aaa;
    position: sticky;
    top: 0px;
    background-color: white;
}

.Header_center {
    width: 90vw;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
}

.Head-1 {
    width: 50%;
    display: inline-block;
}

.Head-1:nth-child(1) {
    width: 20%;
}

.Head-1:nth-child(1)>h1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.Head-1:nth-child(2) {
    width: 80%;
}

.Img_1_Div {
    justify-content: center;
    align-items: center;
    display: flex;
}

nav>ul {
    padding: 0px;
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>ul>li {
    padding: 4px;
}

nav>ul>li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

nav>ul>li a:hover {
    color: rgb(247, 0, 255);
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Img_1 {
    width: 100%;
    max-width: 70vw;
}

.Second_Con {
    width: 100%;
    margin-top: 100px;
    max-width: 70vw;
    margin: auto;
}

h1 {
    text-shadow: 0px 0px 4px #aaa;
    word-spacing: -1px;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: 1px;
    margin: 0px;
    height: 60px;
}

h1 a {
    color: rgb(247, 0, 255);
    text-decoration: none;

}


#Logo_Img {
    display: none;
}

#H22 {
    display: none;
}


.MENU_W {
    display: none;
}

#MENU_W {
    display: none;
    cursor: pointer;
}

#Background_Menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000000;
}

#Background_Menu_BG {
    position: fixed;
    background-color: #cacaca;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;

}

@keyframes Slide {
    0% {
        width: 0px;
    }

    100% {
        width: 200px;
    }
}

@keyframes Slide1 {
    0% {
        width: 200px;
    }

    100% {
        width: 0px;
    }
}


#Aside {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    animation-name: s;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-delay: 2ms;
    animation-fill-mode: backwards;
    z-index: 10000;
}

#MENU_W_DIV {
    display: block;
    margin-top: 12px;
    height: 48px;
}

#MENU_W_DIV span {
    display: inline-block;
    position: absolute;
    right: 20px;
    border-radius: 50px;
    background-color: white;
    padding: 8px;
    cursor: pointer;

}

#MENU_W_DIV span:hover {
    background-color: #cacaca;
}

#HII {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(247, 0, 255);
}

#HII h2 {
    margin: 0px;
    font-size: 20px;
}



#list ul {
    display: flex;
    list-style: none;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

#list ul li {
    padding: 2px;
    margin: 4px;
    /* border-bottom: 1px solid #aaa; */

}

#list ul li a {
    text-decoration: none;
    color: black;


}

#list ul li a:hover {
    color: rgb(247, 0, 255);
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#MenuPara {
    width: 160px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    background-color: rgb(231, 231, 231);
    border-radius: 6px;
}

#MenuParap {
    width: 100%;
    max-width: 70vw;

    /* margin: 10px; */
    margin: auto;
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    background-color: rgb(231, 231, 231);
    border-radius: 6px;
}

#CONTACT_DIV {

    display: block;
    border-bottom: 1px solid #aaa;


}


#CONTACT_DIV h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: rgb(247, 0, 255);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-size: 30px;
}









#Social_DIV ul {
    margin: auto;
    width: 60%;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    /* border: 1px solid red; */
    position: relative;
    left: -20px;

    z-index: 2;

}

.LI-1 img {

    width: 176px;
    z-index: 2;
}

.LI-2 img {
    z-index: 2;

    width: 100px;
}

.LI-3 img {

    width: 135px;
}



#ABOUT_DIV {
    border-bottom: 1px solid #aaa;
    /* border-top: 1px solid #aaa; */
    /* height: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ABOUT_DIV h2 {
    font-size: 30px;
    color: rgb(247, 0, 255);

}


#ABOUT_UL {
    padding: 0px;
}

#Data_DIV {
    display: block;
}

table {
    display: block;
    margin-bottom: 20px;
}

/* tr {
width: 200px;
} */

td {
    padding: 5px;
}



.FF {
    font-weight: bold;
}


footer {
    color: white;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    width: 100%;
    margin-top: 100px;
    max-width: 100vw;
    margin: auto;
}

footer span {
    font-weight: bold;
    font-size: 16px;
    /* padding: 35px; */
}


@media screen and (max-width:1130px) {
    h1 {
        font-size: 25px;
    }

}


@media screen and (max-width: 1200px) {
    .Second_Con {
        width: 100%;
        /* border: 1px solid red; */
        height: 10px;
        /* width: 100%; */
        max-width: none;
        margin: auto;
    }

    #MenuParap {
        width: 90%;
        margin: auto;
        max-width: none;

    }

    footer {
        max-width: none;
        width: 100%;
        max-height: 100%;
        position: relative;
        top: 620px;

    }



    .Img_1 {
        width: 100vw;
        max-width: none;
    }




    .LI-1 img {
        margin: 0px 10px 0px 10px;
        width: 100px;
    }

    .LI-2 img {
        margin: 0px 10px 0px 10px;
        width: 53px;
    }

    .LI-3 img {
        margin: 0px 10px 0px 30px;
        width: 76px;
    }

    #Social_DIV ul {
        left: -50px;
    }


}






@media screen and (min-width: 580px) {
    #Social_DIV ul {
        left: -10px;
    }

    .LI-1 img {
        margin: 0px 10px 0px 10px;
        width: 100px;
    }

    .LI-2 img {
        margin: 0px 10px 0px 10px;
        width: 53px;
    }

    .LI-3 img {
        margin: 0px 10px 0px 30px;
        width: 76px;
    }


}


@media screen and (max-width: 580px) {

    .LI-1 img {
        margin: 0px 10px 0px 10px;
        width: 100px;
    }

    .LI-2 img {
        margin: 0px 10px 0px 10px;
        width: 53px;
    }

    .LI-3 img {
        margin: 0px 10px 0px 30px;
        width: 76px;
    }

    #Social_DIV ul {
        left: -10px;
    }


}


@media screen and (max-width: 450px) {
    .LI-1 img {
        margin: 0px 10px 0px 10px;
        width: 80px;
    }

    .LI-2 img {
        margin: 0px 10px 0px 10px;
        width: 42px;
    }

    .LI-3 img {
        margin: 0px 10px 0px 30px;
        width: 59px;
    }

    #Social_DIV ul {
        left: -25px;
    }
}


@media screen and (max-width: 500px) {
    #Social_DIV ul {
        left: -25px;
    }

}



@media screen and (max-width:1000px) {

    #Logo_Img {
        display: inline-block;
        width: 60px;
    }

    #H2 {
        display: none;
    }

    .Head-1:nth-child(1) {
        width: 10%;
    }

    .Head-1:nth-child(2) {
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    .Head-1:nth-child(1) {
        /* display: none; */
        display: flex;
        /* justify-content: center; */
        align-items: center;

        width: 100%;
    }

    .Head-1:nth-child(2) {
        width: 0px;
        display: none;
    }

    #H22 {
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    #MENU_W {
        display: inline-block;
        position: absolute;
        right: 20px;
        border-radius: 50px;
        background-color: white;
        padding: 8px;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
    }

    #MENU_W:hover {
        background-color: #cacaca;
    }
}

















.Product_Price {
display: block;
/* padding-left: 16px; */
margin-bottom: 10px;
}



.Product_Price_Price {
display: inline-block;
font-weight: bolder;

}




.Rupee_Sumbol_Price{
font-size: 22px;
position: relative;
left: -3px;

}


.MRP_Word_Div {
display: inline-block;
font-weight: bolder;
color: #858585;
position: relative;
top: -2px;
font-size: 16px;
margin-left: 6px;
}

.MRP_Word {
display: inline-block;


}

.MRP_Price {
text-decoration: line-through;
font-weight: 700;
font-family: 'Roboto', sans-serif;
}


.MRP_OFF_Div {
display: inline-block;
position: relative;
bottom: 1px;
}

.MRP_OFF {
color: #388e3c;
font-weight: bold;
font-size: 18px;
}




.Rupee_Sumbol{
font-size: 15px;
position: relative;
top: -5px;

}













